<div class="conatiner-fluid">
    <div class="container" style="min-height: 70vh;">
        <div class="mb-3">
            <div class="row">
                <div class="col-xl 6">
                    <label for="" class="form label">First Name</label>
                    <input type="text" class="form-control" placeholder="Enter Your First Name">
                </div>
                <div class="col-xl 6">
                    <label for="" class="form label">Last Name</label>
                    <input type="tect" class="form-control" placeholder="Enter Your Last Name">
                </div> 
                <div class="col-xl 6">
                    <label for="" class="form label">E-mail</label>
                    <input type="text" class="form-control" placeholder="Enter Your E-mail">
                </div>
                <div class="col-xl 6">
                    <label for="" class="form label">Contact</label>
                    <input type="number" class="form-control" placeholder="Enter Your Name Number">
                </div>
            </div>
        </div>
        
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Enter Your Massege</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button class="btn btn-primary">Send</button>
    </div>
</div>